# Target Population

The target population of a pizza shop is going to be people between the ages of 20 and 60. The data of the kids is irrelevant since it's their parents buying pizza for their family. To find this, we will look at census data of the different neighborhoods of Pittsburgh.

In [50]:
import pandas as pd
import math

pop = pd.read_csv("Neighborhoods_with_SNAP_Data.csv", index_col= "Neighborhood_2010_HOOD")

In [ ]:
pop['Sum'] = 0.0
pop['tot'] = 0.0
targetpop= pop[["Pop__2010","F__Pop__Age_20_34__2010_","F__Pop__Age_35_59__2010_","Sum",'tot']]
targetpop.head(90)

I created two extra colums. The column 'Sum' is where I will add the percentages of people between 20 and 34, and the percentage of people between 35 and 59, getting the percentage of the population who is between 20 and 60. And the column 'tot' or total, is where I will eventually multiply the sum of percentages by the total population, giving me the true value of people between 20 and 60 in each neighborhood.

In [48]:
for index, row in targetpop.iterrows():
    sum_values = pd.to_numeric(row["F__Pop__Age_20_34__2010_"].rstrip('%'), errors='coerce') + pd.to_numeric(row["F__Pop__Age_35_59__2010_"].rstrip('%'), errors='coerce')
    targetpop.at[index, 'Sum'] = sum_values/100 #creates percentage value
    
targetpop.head()

,Pop__2010,F__Pop__Age_20_34__2010_,F__Pop__Age_35_59__2010_,Sum,tot
Neighborhood_2010_HOOD,,,,,
Central Oakland,6086,72.28%,6.72%,0.7900,0.0
North Oakland,10551,37.67%,7.50%,0.4517,0.0
West Oakland,2604,29.38%,17.01%,0.4639,0.0
Crawford-Roberts,2256,21.04%,30.27%,0.5131,0.0
Strip District,616,30.28%,36.03%,0.6631,0.0

In [55]:
for index, row in targetpop.iterrows():
    tot_values = pd.to_numeric(row['Pop__2010'], errors='coerce') * row["Sum"]
    targetpop.at[index, 'tot'] = math.floor(tot_values)
    
targetpop.head()

,Pop__2010,F__Pop__Age_20_34__2010_,F__Pop__Age_35_59__2010_,Sum,tot
Neighborhood_2010_HOOD,,,,,
Shadyside,13915,50.35%,22.69%,0.7304,10163.0
Squirrel Hill South,15110,29.36%,32.50%,0.6186,9347.0
Brookline,13214,25.57%,33.95%,0.5952,7864.0
Mount Washington,8799,35.67%,30.10%,0.6577,5787.0
Carrick,10113,16.55%,40.63%,0.5718,5782.0

In [58]:
targetpop=targetpop.sort_values(by='tot',ascending=False)
targetpop.head()

,Pop__2010,F__Pop__Age_20_34__2010_,F__Pop__Age_35_59__2010_,Sum,tot
Neighborhood_2010_HOOD,,,,,
Shadyside,13915,50.35%,22.69%,0.7304,10163.0
Squirrel Hill South,15110,29.36%,32.50%,0.6186,9347.0
Brookline,13214,25.57%,33.95%,0.5952,7864.0
Mount Washington,8799,35.67%,30.10%,0.6577,5787.0
Carrick,10113,16.55%,40.63%,0.5718,5782.0

Shadyside has the most people between ages 20 and 60 by almost 1000.